USE [master]
GO
/****** Object:  Database [springbootdb]    Script Date: 8/12/2018 3:42:47 PM ******/
CREATE DATABASE [springbootdb]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'springbootdb', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\springbootdb.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
( NAME = N'springbootdb_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL12.SQLEXPRESS\MSSQL\DATA\springbootdb_log.ldf' , SIZE = 1024KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [springbootdb].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [springbootdb]
GO
/****** Object:  Table [dbo].[student]    Script Date: 8/12/2018 3:42:47 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[student](
	[id] [decimal](18, 0) IDENTITY(1,1) NOT NULL,
	[name] [varchar](50) NOT NULL,
	[mark] [decimal](18, 0) NOT NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
USE [master]
GO
